@media only screen and (max-width: 400px) {
    footer.footer {
        font-size: 8px;
    }

    footer.footer p .italic {
        margin-right: 10px;
    }

    .js-img {
        width: 20px;
        height: 20px;
    }

    .placar ul {
        padding-left: 0;
    }

    .placar ul li {
        font-size: 13px;
    }
}