* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f5f5;
}

.container {
    max-width: 700px;
    margin: 100px auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.089);
}

.text p {
    margin-left: 20px;
    margin-right: 20px;
}

.game .submit {
    margin: 30px auto;
    cursor: pointer;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.submit {
    display: flex;
    margin-top: 20px;
    padding: 10px;
}

.p1, .tries, .all-tries {
    width: 50%;
    padding: 10px;
}

.hide {
    display: none;
}